{% extends 'instructions/base.html' %}
{% load static %}

{% block content %}
<h1 class="mt-4">{{ view_services.services_name }}</h1>
    <div class="card-body">
        <br>
        {% if page_dispatcher %}
            <div class="card mb-4">
                <div class="card-header">
                    Книга предписаний
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                        <div class="datatable-container">
                            <table id="datatablesSimple" class="datatable-table">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Участок</th>
                                    <th>Автор</th>
                                    <th>Тип</th>
                                    <th>Файл</th>
                                    <th>Дата создания</th>
                                    <th>Статус</th>
                                </thead>
                                <tbody>
                                {% for prescription in page_dispatcher  %}
                                    <tr>
                                        <td>
                                            {% if perms.book_instructions.view_dispatchers %}
                                            <a href="{% url 'book_instructions:view_prescription_dispatchers' pk=prescription.pk %}">
                                                {{ prescription.prescription_name|truncatechars:30 }}
                                            </a>
                                            {% else %}
                                                {{ prescription.prescription_name|truncatechars:30 }}
                                            {% endif %}
                                        </td>
                                        <td>{{ prescription.region }}</td>
                                        <td>{{ prescription.author.first_name }} {{ prescription.author.last_name }}</td>
                                        <td>{{ prescription.type_prescription }}</td>
                                        <td>
                                            <a href="{{ prescription.prescription_media.url }}" target="_blank">Просмотреть</a>
                                        </td>
                                        <td>{{ prescription.date_create }}</td>
                                        <td>
                                            {% if status_executions|get_item:prescription.pk == True %}
                                                Выполнено
                                            {% else %}
                                                В работе
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         <br>
    <div class="col-12">
      {% if page_dispatcher.has_other_pages %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
          {% if page_dispatcher.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_dispatcher.previous_page_number }}">&laquo;</a></li>
          {% endif %}
            {% for page in page_dispatcher.paginator.page_range %}
               {% if page_dispatcher.number == page %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
               {% endif %}
            {% endfor %}
            {% if page_dispatcher.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_dispatcher.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            У вас нет созданных или доступных предписаний.
        </div>
    {% endif %}
</div>

{% endblock %}