{% extends 'user/user_base.html' %}
{% load static %}

{% block title_user_content %}
    <title>Восстановление пароля</title>
{% endblock %}

{% block user_content %}
    <p>Укажите новый пароль для учетной записи</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next"
               value="{{ next }}">
        <p>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            {{ form.new_password1.errors }}
            {% endif %}
        </p>
        <p>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            {{ form.new_password2.errors }}
            {% endif %}
        </p>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
{% endblock %}