{% extends 'user/user_base.html' %}
{% load static %}

{% block title_user_content %}
    <title>Восстановление пароля</title>
{% endblock %}

{% block user_content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-outline mb-4">
            {{ form.email }}
        </div>
        <div class="error-form">
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Восстановить</button>
    </form>
    <hr>
    <div>
        <a href="{% url 'book_user:login' %}">или Войти</a>
    </div>
{% endblock %}